---
import Section from "../Section.astro";

import { education } from "@cv";
---

<Section className={Astro.props.className} title="Education">
  <ul class="grid grid-cols-1 gap-4 py-2 lg:grid-cols-3 print:grid-cols-3 print:gap-2">
    {
      education.map(
        ({
          institution,
          area,
        }) => {
          return (
            <li class="flex items-start gap-2 rounded-md bg-skin-button-muted/50 p-4 ring-1 ring-skin-muted">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="mt-0.5 h-5 w-5 shrink-0 text-skin-hue print:hidden"
              >
                <path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                <path d="M22 10v6" />
                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
              </svg>
              <div>
                <h3 class="font-medium leading-snug">
                  {institution}
                </h3>
                <div class="mt-1 text-sm text-skin-muted">
                  {area}
                </div>
              </div>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
